header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    display: inline-block;
    width: 100%;
    border: 0px solid #8146b0;
    border-top-width: thick;
    padding: 10px 0px 15px 0px;
    border-bottom-color: #ccc;
    border-bottom-width: thin;
    z-index: 10;
    background: white;
}
header h1 a {
    margin-left: 10px;
    float: left;
    font-size: 40px;
    color: #8146b0;
    text-decoration: none;
}
footer {
    border: 0px solid #8146b0;
    border-bottom-width: thick;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: white;
    position: fixed;
    width: 100%;
}
.maincontent {
  position:relative;
  top: 100px;
  color: #444;
}
.icn {
    background-repeat: no-repeat;
    display: inline-block;
}
.sm.icn {
    height: 24px;
    width: 24px;
}
.sm.msg {
    font-size: 18px;
    vertical-align: top;
}
/*Colors*/

.purple {
    color: #733da0;
}
.fb .icn {
    background-image: url("/images/fb.png");
    background-color: #3d7199;
}
.gplus .icn {
    background-image: url("/images/gplus.png");
    background-color: #dd4b39;
}
.auth-btn {
    display: inline-block;
    font-weight: bold;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}
.auth-btn a, .auth-btn a:hover {
    color: white;
    text-decoration: none;
    font-weight: normal;
}
.auth-btn.fb {
    background-color: #3d7199;
    margin-right: 10px;
}
.auth-btn.gplus {
    background-color: #dd4b39;
}
.auth-btns {
    float: right;
}
